*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;}
    
body{  
    background-image:url('bg-intro-desktop.png');
    background-color: rgb(244, 119, 119);
    font-size: 16px;
    font-family: 'Poppins';
}

main{
    width:70%;
    height:80vh;
    margin:center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-position: 100%;
}

.box{
    display: flexbox;
    flex-direction:column;
    color: white;
    padding: 10px;
    justify-items: center;
    margin: 8px;
}
h3{
    font-weight:bolder;
    font-size: 30px;
}
p{
    font-size: smaller;
    font-weight: 200;
}

.try{
    color:white;
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 380px;
    height: 40px;
    border: 2px;
    padding:5px 10px;
    margin:5px;
    font-size: small;
    font-weight: 400;
}

form {
    background-color: white;
    height: 68vh;
    width: 380px;
    border: 5px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5pt;
    margin:8px,0;   
}
input{
    border-radius: 5px;
    width: 350px;
    height: 40px;
    padding: 10px 20px;
    margin: 8px 2px;
    box-sizing: border-box;
}
input:invalid:focus{
    outline:2px solid hsl(0,100%,74%);
    background: url('icon-error.svg') no-repeat 96%center white;
    background-position: right;
}
input:required:focus ~ .error-message{
	display:block;
	color:hsl(0,100%,74%);
	text-align:right;
	font-size:10px;
	font-style:italic;
}
.error-message{
	display:none;
	margin-bottom: 10px;
}
input:valid{
	outline: 2px solid silver;
}
input:required{
	outline: 2px solid transparent;
}
input[type=email]:invalid:focus::-webkit-input-placeholder{
	color:hsl(0,100%,74%);
}

.button {
	background-color: hsl(154,59%,51%);
	color: white;
	text-transform: uppercase;
	font-size: 8pt;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    width: 350px;
    height:40px;
    cursor: pointer;
}
.button:focus{
	background-color:hsl(154,59%,60%);
}
.button:hover{
	background-color:hsl(154,59%,60%);
}

.note{
    font-size: smaller;
    color:hsl(246,25%,77%);
}
ins{
    font-size: smaller;
    color:hsl(0,100%,74%);
    cursor: pointer;
}

/* This is for making the site responsive for mobile*/
@media screen and (max-width: 375px) {
    body{font-size:8pt;
    }
    main{display:flex;
        flex-direction:column;
        margin:0 auto;
        padding: 10px;
        height:0;
        width:0;
    }
    .box{
        font-size: 15px;
    }
    form{
        height:45vh;
        width:0;
    }
    input{
        height:30px;
        width:200px;
    }
    .button{
        height:30px;
        width:200px;
    }
}

/*Responsive to desktop*/
@media screen and (max-width: 1440px){
    body{
        background-image: url('bg-intro-desktop.png');
        background-color: hsl(0,100%,74%);
    }
}



